body{
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    color: black;
}
.sohne
{
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
}
.btn-darkk{
    background-color: black;
}
.alt-cizgi{
    border-bottom: 1px solid #222222;
}

